In [1]:
import pandas as pd 
클러스터링=pd.read_csv("c:/data/project/team/revised/클러스터링.csv",encoding='cp949') 
상권코드명=pd.read_csv("c:/data/project/team/raw/상권코드명.csv",encoding='cp949')

In [2]:
상권코드명확인=pd.merge(클러스터링,상권코드명)

In [3]:
상권코드명확인

         상권코드    총편의점점포수      점포별월매출금액  분류                   상권코드명 시군구명
0     1000001   3.400000  2.068619e+08   2                     계동길  종로구
1     1000002   3.850000  2.055070e+08   2                  난계로27길  종로구
2     1000003   6.400000  1.488270e+08   0                돈화문로11가길  종로구
3     1000004   4.450000  2.887345e+08   2                     명륜길  종로구
4     1000005   2.142857  7.954911e+07   0                    백석동길  종로구
...       ...        ...           ...  ..                     ...  ...
1020  1001492  89.300000  2.141036e+08   2  명동 남대문 북창동 다동 무교동 관광특구   중구
1021  1001493  39.100000  2.081689e+08   2            동대문패션타운 관광특구   중구
1022  1001494  44.050000  1.480367e+08   0              종로?청계 관광특구  종로구
1023  1001495  54.950000  1.873726e+08   0                 잠실 관광특구  송파구
1024  1001496   8.500000  5.537170e+08   1             강남 마이스 관광특구  강남구

[1025 rows x 6 columns]

In [4]:
매출이낮은상권=상권코드명확인[상권코드명확인['분류']==0]
매출이높은상권=상권코드명확인[상권코드명확인['분류']==1]
매출이중간인상권=상권코드명확인[상권코드명확인['분류']==2]

In [5]:
매출이높은상권.describe()

               상권코드    총편의점점포수      점포별월매출금액    분류
count  6.400000e+01  64.000000  6.400000e+01  64.0
mean   1.000775e+06   3.446875  4.744562e+08   1.0
std    4.300601e+02   2.757657  1.237270e+08   0.0
min    1.000015e+06   0.600000  3.660018e+08   1.0
25%    1.000447e+06   2.050000  4.019840e+08   1.0
50%    1.000931e+06   2.525000  4.377853e+08   1.0
75%    1.001109e+06   3.962500  4.963060e+08   1.0
max    1.001496e+06  14.650000  1.029481e+09   1.0

In [6]:
매출이중간인상권.describe()

               상권코드     총편의점점포수      점포별월매출금액     분류
count  3.440000e+02  344.000000  3.440000e+02  344.0
mean   1.000749e+06    6.224508  2.552896e+08    2.0
std    3.879445e+02    8.059160  4.624443e+07    0.0
min    1.000001e+06    0.100000  1.914575e+08    2.0
25%    1.000426e+06    2.537500  2.156425e+08    2.0
50%    1.000798e+06    3.875000  2.428256e+08    2.0
75%    1.001092e+06    6.025000  2.897249e+08    2.0
max    1.001493e+06   89.300000  3.636866e+08    2.0

In [7]:
매출이낮은상권.describe()

               상권코드     총편의점점포수      점포별월매출금액     분류
count  6.170000e+02  617.000000  6.170000e+02  617.0
mean   1.000670e+06    4.493489  1.275837e+08    0.0
std    3.951796e+02    4.491125  3.895467e+07    0.0
min    1.000003e+06    0.250000  5.991840e+06    0.0
25%    1.000334e+06    2.150000  1.025174e+08    0.0
50%    1.000645e+06    3.450000  1.307519e+08    0.0
75%    1.000973e+06    5.350000  1.578706e+08    0.0
max    1.001495e+06   54.950000  1.910879e+08    0.0

In [8]:
매출이높은상권

         상권코드  총편의점점포수      점포별월매출금액  분류         상권코드명 시군구명
9     1000015     5.05  4.876895e+08   1          이화장길  종로구
24    1000035     2.30  4.445431e+08   1        동호로11길   중구
45    1000079     5.60  4.492790e+08   1       한강대로43길  용산구
48    1000083     1.10  4.080261e+08   1       한강대로88길  용산구
54    1000091     1.60  6.270899e+08   1          둘레9길  성동구
...       ...      ...           ...  ..           ...  ...
962   1001263    10.35  5.541454e+08   1  서울 노원구 노원역_3  노원구
997   1001423     0.65  4.872537e+08   1       독산동 우시장  금천구
1001  1001440     2.55  4.730987e+08   1       노량진중앙시장  동작구
1013  1001476     1.00  4.950050e+08   1          풍납시장  송파구
1024  1001496     8.50  5.537170e+08   1   강남 마이스 관광특구  강남구

[64 rows x 6 columns]

In [9]:
매출이높은상권['상권코드명'].unique()

array(['이화장길', '동호로11길', '한강대로43길', '한강대로88길', '둘레9길', '매봉길', '성덕정17길',
       '긴고랑로7길', '자양로11길', '답십리로64길', '답십리로68길', '동일로139가길', '용마산로112길',
       '돌곶이로27길', '정릉로8길', '응암로13길', '홍제내길', '양화로11길', '와우산로29길',
       '와우산로3길', '남부순환로58길', '강서로29길', '우마길', '금하로14길', '독산로40길',
       '대림로29길', '디지털로37길', '사당로8길', '관악로30길', '서림7길', '신림로65길', '압구정로2길',
       '일원로3길', '테헤란로81길', '송파대로30길', '고덕로10길', '진황도로47길', '서울 관악구 신림역_1',
       '문정역', '뱅뱅사거리_1', '역삼역_1', '대림역_1', '역삼역_2', '고속터미널역', '선정릉역_1',
       '코엑스', '서울 강남구 학동역_2', '학동역', '서울 동작구 노량진1동_1', '도산공원사거리_1',
       '학동사거리_2', '한남오거리', '서울 강동구 천호역_1', '서울 광진구 건대입구역_1',
       '서울 광진구 건대입구역_2', '왕십리역_2', '서울 중구 신당역_1', '롯데백화점',
       '서울 종로구 경복궁역_1', '서울 노원구 노원역_3', '독산동 우시장', '노량진중앙시장', '풍납시장',
       '강남 마이스 관광특구'], dtype=object)

In [10]:
매출이높은상권.loc[:,['상권코드명']]

             상권코드명
9             이화장길
24          동호로11길
45         한강대로43길
48         한강대로88길
54            둘레9길
...            ...
962   서울 노원구 노원역_3
997        독산동 우시장
1001       노량진중앙시장
1013          풍납시장
1024   강남 마이스 관광특구

[64 rows x 1 columns]

In [11]:
매출이중간인상권.loc[:,['상권코드명']]

                       상권코드명
0                        계동길
1                     난계로27길
3                        명륜길
5                      북촌로5길
8                     율곡로16길
...                      ...
985                     우이시장
993                 신정3동골목시장
1019                이태원 관광특구
1020  명동 남대문 북창동 다동 무교동 관광특구
1021            동대문패션타운 관광특구

[344 rows x 1 columns]

In [12]:
매출이중간인상권['상권코드명'].unique()

array(['계동길', '난계로27길', '명륜길', '북촌로5길', '율곡로16길', '종로58가길', '난계로11길',
       '동호로10길', '동호로8길', '퇴계로90길', '녹사평대로26길', '녹사평대로46길', '원효로19길',
       '이촌로22길', '이태원로27길', '청파로47길', '한강대로62길', '회나무로13길', '금호산길',
       '뚝섬로5길', '상원길', '왕십리로14길', '왕십리로21길', '왕십리로31길', '광나루로12길',
       '광나루로36길', '긴고랑로9길', '능동로13길', '아차산로51길', '아차산로55길', '자양로53길',
       '경희대로3길', '답십리로23길', '무학로16길', '사가정로13길', '서울시립대로29길', '왕산로43길',
       '이문로42길', '장한로14길', '장한로26길', '장한로5길', '제기로21길', '제기로5길', '천장산로7길',
       '한천로46길', '휘경로2길', '겸재로29길', '겸재로54길', '공릉로2길', '동일로112길',
       '동일로123길', '동일로157길', '망우로68길', '봉우재로33길', '사가정로54길', '삼선교로10길',
       '성북로8길', '안암로5길', '인촌로17가길', '인촌로1길', '개운사길', '인촌로5길', '장위로50길',
       '종암로5길', '덕릉로41길', '도봉로45길', '수유로12길', '한천로124나길', '한천로139가길',
       '도당로29길', '도봉로114길', '도봉로181길', '우이천로32길', '공릉로58길', '동일로242길',
       '상계로12길', '석계로1길', '가좌로7길', '갈현로1길', '불광천길', '연서로16길', '연서로28길',
       '은평로8길', '응암로22길', '증산로15길', '증산로21길', '증산로5길', '가재울로6길',
       '모래내로15길', '세무서길', '충정로6길', '통일로37길', '통일로39길', '대흥로28길', '독막로32길',
       '동교로19길', '동교로25길', '만리재옛길', '망원로11길', '성지3길', '숭문길', '월드컵로10길',
       '월드컵로11길', '월드컵로19길', '월드컵로36길', '월드컵로7길', '토정로37길', '곰달래로10길',
       '곰달래로3길', '목동로9길', '목동중앙북로16길', '목동중앙서로8가길', '은행정로5길', '강서로15길',
       '강서로18길', '강서로45다길', '강서로5가길', '곰달래로25길', '공항대로59다길', '방화대로6라길',
       '양천로49길', '양천로73가길', '우장산로6길', '월정로20길', '초원로16길', '화곡로31길',
       '화곡로64길', '개봉로3길', '경인로31길', '경인로35길', '경인로47길', '고척로27길',
       '구로중앙로19길', '도림로6길', '디지털로32길', '새말로18길', '오류로8길', '중앙로15길',
       '가산로3길', '가산로5길', '독산로50길', '독산로78다길', '문성로5길', '시흥대로153길',
       '시흥대로22길', '시흥대로63길', '시흥대로94길', '경인로77길', '대림로22길', '도림로112길',
       '도신로15길', '디지털로57길', '영등포로25길', '영등포로84길', '국사봉1길', '국사봉2길',
       '대방동27길', '동작대로7길', '등용로14길', '사당로16가길', '사당로20길', '상도로61길',
       '상도로62길', '서달로15길', '성대로29길', '양녕로26길', '장승배기로10길', '흑석로13길',
       '흑석로9길', '관천로15길', '낙성대역길', '남부순환로161길', '남부순환로234길', '남현2길',
       '남현3길', '대학길', '봉천로33길', '신림로38길', '신원로3길', '조원로18길', '중앙길', '청룡길',
       '원신길', '소담길', '강남대로34길', '남부순환로317길', '남부순환로339길', '논현로27길',
       '동광로12길', '바우뫼로39길', '서초대로64길', '효령로72길', '방배중앙로21길', '논현로106길',
       '논현로115길', '논현로26길', '논현로8길', '도산대로23길', '도산대로30길', '도산대로89길',
       '봉은사로29길', '삼성로69길', '선릉로121길', '선릉로132길', '선릉로146길', '언주로81길',
       '일원로9길', '학동로38길', '학동로56길', '학동로77길', '백제고분로21길', '백제고분로32길',
       '백제고분로33길', '강동대로53길', '동남로85길', '상암로51길', '성안로3길', '양재대로91길',
       '양재대로96길', '올림픽로98길', '천호대로197길', '서울 금천구 독산1동_1', '포이사거리_2',
       '가산디지털단지역_1', '가산디지털단지역_2', '서울 관악구 서울대입구역_1', '가산디지털단지역_3',
       '서울 관악구 신림역_2', '서울 서초구 남부터미널역_1', '서울 서초구 방배역', '구로디지탈1단지',
       '서울 서초구 남부터미널역_2', '서울 관악구 신림역_3', '서울 강남구 수서역', '동작구 총신대입구역_2',
       '서울 관악구 신림역_4', '뱅뱅사거리', '보라매공원', '뱅뱅사거리_2', '서울 강남구 대치역_2',
       '서울 송파구 가락시장역', '교대역_2', '서울 강남구 강남역_1', '교대역_4', '은마아파트입구사거리_1',
       '서울 강남구 강남역', '오류동역', '은마아파트입구사거리_3', '서울 강남구 한티역', '신대방삼거리역',
       '서울 강남구 역삼역_1', '구로역', '서울 강남구 강남역_2', '서울 강남구 역삼역_2', '선릉역_2',
       '서울 강남구 선릉역_1', '서울 서초구 강남역', '강남구 논현역_1', '신천역', '강남구 논현역_2',
       '포스코사거리_2', '강남구 논현역_3', '선정릉역_2', '서울 강남구 학동역_1', '서울 동작구 노량진역',
       '방이동 먹자골목', '강남구 논현역_4', '잠실역', '강남구 신사역_1', '영등포역_3',
       '여의도 시범아파트앞', '학동사거리_1', '서울 영등포구 여의도역_1', '청담역_2', '영등포유통상가',
       '청담사거리_3', '서울 영등포구 여의도역_2', '압구정 로데오거리_1', '서울 영등포구 영등포구청역',
       '국회의사당역_1', '국회의사당역_2', '용산 전자상가_1', '서울 용산구 이태원역', '용산 전자상가_3',
       '당산역_1', '용산 전자상가_4', '용산 전자상가_5', '당산역_2', '건대입구역',
       '서울 강동구 천호역_2', '서울 마포구 마포역_1', '서울 용산구 숙대입구역', '공덕역', '등촌역',
       '강서구청', '신촌역', '서울 광진구 군자역', '홍익대학교 주변', '서울 서대문구 신촌역', '장충동 족발거리',
       '서울 중구 명동역', '서울 중구 충무로역_1', '장한평역_1', '서울 강서구 발산역', '시청역_1',
       '서울 강서구 송정역', '명동거리', '서울 중구 을지로3가역_1', '동대문역사문화공원역',
       '서대문구 서대문역_2', '서울 중구 신당역_2', '서울 중구 을지로3가역_2', '서울시청', '동대문시장_1',
       '서울 종로구 광화문역_1', '서울 종로구 동대문역_2', '서울 동대문구 신설동역_1', '신설동역',
       '서울 종로구 종로5가역_2', '인사동', '서울 동대문구 청량리역', '디지털미디어시티', '혜화역 대학로_1',
       '혜화역 대학로_2', '경희대학교', '서울 성북구 성신여대입구역', '서울 은평구 불광역_3',
       '서울 강북구 미아삼거리역_1', '서울 은평구 연신내역_1', '서울 강북구 수유역_1', '서울 강북구 수유역_2',
       '서울 노원구 노원역_1', '서울 노원구 노원역_2', '약수시장', '행당시장', '우림골목시장', '정릉시장',
       '동북시장', '방천골목시장', '우이시장', '신정3동골목시장', '이태원 관광특구',
       '명동 남대문 북창동 다동 무교동 관광특구', '동대문패션타운 관광특구'], dtype=object)

In [13]:
매출이낮은상권.loc[:,['상권코드명']]

           상권코드명
2       돈화문로11가길
4           백석동길
6         성균관로5길
7            옥인길
10         종로24길
...          ...
1016       새마을시장
1017      암사종합시장
1018     둔촌역전통시장
1022  종로?청계 관광특구
1023     잠실 관광특구

[617 rows x 1 columns]

In [14]:
매출이낮은상권['상권코드명'].unique()

array(['돈화문로11가길', '백석동길', '성균관로5길', '옥인길', '종로24길', '종로65길', '지봉로8길',
       '창경궁로35길', '통일로12길', '평창길', '난계로21길', '다산로33길', '다산로36길', '다산로38길',
       '다산로39길', '명동길', '삼일대로4길', '청구로17길', '퇴계로46길', '두텁바위로1길', '백범로79길',
       '백범로90길', '소월로20길', '우사단로4길', '원효로41길', '청파로73길', '한강대로104길',
       '한강대로52길', '효창원로39길', '고산자로6길', '금호산2길', '마조로1길', '무수막길', '무학봉28길',
       '무학봉길', '사근동길', '상원12길', '서울숲2길', '성수이로7길', '성수일로6길', '송정4가길',
       '아차산로11길', '왕십리로26길', '왕십리로6길', '용답29길', '장터길', '한림말3길', '한림말길',
       '광나루로24길', '광나루로40길', '광나루로52길', '긴고랑로20길', '능동로19길', '능동로34길',
       '능동로3길', '동일로18길', '뚝섬로48길', '뚝섬로54길', '뚝섬로58길', '면목로17길',
       '아차산로40길', '아차산로65길', '아차산로78길', '용마산로21길', '용마산로3길', '자양로26길',
       '자양로45길', '자양로50길', '천호대로109길', '천호대로123길', '천호대로129길', '경희대로4길',
       '답십리로56길', '답십리로60길', '답십리로69길', '망우로18가길', '망우로21길', '무학로45길',
       '사가정로23가길', '서울시립대로16길', '서울시립대로4길', '약령시로17길', '왕산로32길', '장한로25길',
       '장한로26가길', '장한로8길', '전농로29길', '전농로3길', '천호대로17길', '천호대로97길',
       '한천로14길', '한천로33길', '휘경로14길', '휘경로23길', '휘경로3길', '답십리로75길',
       '동일로100길', '동일로101길', '동일로130길', '동일로140길', '동일로149길', '망우로73길',
       '면목로21길', '면목로33길', '면목로45길', '면목로48길', '면목로56길', '면목로78길',
       '봉화산로4길', '봉화산로56길', '신내로7가길', '용마산로118길', '용마산로94길', '중랑천로10길',
       '돌곶이로14길', '돌곶이로22길', '돌곶이로28길', '돌곶이로8길', '동소문로13길', '동소문로15길',
       '동소문로26가길', '동소문로2길', '보국문로16길', '보문로13길', '보문로31길', '보문로32길',
       '삼선교로10다길', '솔샘로6길', '아리랑로4길', '오패산로4길', '인촌로24길', '인촌로6길',
       '장월로1길', '정릉로27길', '종암로19길', '종암로21길', '종암로24가길', '창경궁로43길',
       '한천로101가길', '화랑로13길', '화랑로14길', '화랑로32길', '화랑로40길', '노해로17길',
       '노해로33길', '도봉로13길', '도봉로67길', '도봉로76길', '도봉로8길', '도봉로99길',
       '삼각산로28길', '삼양로24길', '삼양로27길', '삼양로77길', '삼양로93길', '솔매로41길',
       '솔매로45길', '솔매로50길', '솔샘로65길', '오패산로30길', '오패산로67길', '인수봉로56길',
       '인수봉로72길', '인수봉로79길', '한천로109길', '한천로132길', '노해로60길', '노해로63다길',
       '덕릉로60길', '도당로13바길', '도당로19길', '도봉로109길', '도봉로143길', '도봉로147길',
       '도봉로156길', '도봉산길', '삼양로144길', '시루봉로23길', '동일로173가길', '동일로192길',
       '상계로9가길', '한글비석로22길', '한글비석로24길', '한글비석로44길', '갈현로33길', '갈현로7길',
       '서오릉로21길', '수색로18길', '역말로9길', '연서로11길', '연서로17길', '연서로27길',
       '연서로29길', '연서로33길', '연서로34길', '연서로3길', '연서로5길', '은평로10길', '은평로13길',
       '은평로20길', '은평로3길', '응암로34길', '증산로13길', '증산로9길', '증산서길', '진흥로12길',
       '진흥로1길', '통일로87길', '통일로92길', '독립문로8길', '명지대길', '수색로8길', '연희로10길',
       '증가로10길', '증가로20가길', '증가로23나길', '충정로4길', '광성로6길', '대흥로21길', '도화길',
       '독막로22길', '독막로8길', '동교로17길', '마포대로12길', '마포대로20길', '매봉산로2길',
       '모래내로7길', '방울내로9안길', '백범로16길', '성미산로11길', '성미산로1길', '성미산로32길',
       '성산로4길', '신촌로12길', '신촌로28가길', '양화로1길', '양화진길', '월드컵로16길',
       '월드컵로25길', '월드컵로8길', '효창원로93길', '곰달래로2길', '곰달래로5길', '남부순환로33길',
       '남부순환로79길', '목동남로4길', '목동동로12길', '목동동로8길', '목동로19길', '목동중앙남로3가길',
       '목동중앙로13나길', '목동중앙본로7길', '목동중앙서로7길', '신목로5길', '신목로6길', '신월로15길',
       '오목로23길', '오목로30길', '오목로3길', '오목로5길', '은행정로7길', '중앙로32길', '중앙로45길',
       '지양로7길', '화곡로3길', '화곡로4길', '가로공원로76가길', '강서로35길', '강서로45길',
       '강서로47길', '강서로47라길', '강서로5나길', '강서로5라길', '강서로8길', '개화동로25길',
       '곰달래로47길', '곰달래로60길', '공항대로42길', '공항대로59길', '공항대로8길', '국회대로7길',
       '까치산로4길', '남부순환로11길', '등촌로39길', '등촌로5길', '방화대로21길', '양천로14길',
       '양천로71길', '초록마을로3길', '화곡로13길', '화곡로20길', '화곡로44나길', '화곡로59길',
       '개봉로17다길', '개봉로20길', '개봉로23가길', '경인로15길', '고척로27다길', '구로동로15길',
       '구로동로28길', '구로동로41길', '구로동로7길', '구로동로8길', '구로중앙로28길', '구로중앙로42길',
       '구로중앙로8길', '도림로12길', '디지털로32가길', '부일로11길', '부일로15길', '부일로1길',
       '중앙로1길', '금하로24길', '남부순환로112길', '독산로64길', '범안로11길', '범안로17길',
       '시흥대로120길', '시흥대로150길', '시흥대로36길', '시흥대로62가길', '시흥대로68길',
       '가마산로61길', '국회대로56길', '당산로31길', '당산로37길', '당산로38길', '당산로46길',
       '대림로31길', '대림로34길', '대림로8길', '도림로63길', '도림천로21길', '도신로29길',
       '도신로62길', '선유로55길', '선유서로24길', '선유서로25길', '신길로17길', '신길로42가길',
       '신길로60길', '양평로19길', '양평로22라길', '양평로28길', '영등포로27길', '영등포로80길',
       '영신로9길', '국사봉길', '대방동2길', '동작대로33길', '동작대로35길', '만양로8길', '사당로16길',
       '사당로23나길', '사당로29길', '상도로15길', '상도로37길', '신대방길', '여의대방로22길',
       '여의대방로22카길', '여의대방로24길', '여의대방로46길', '장승배기로19길', '장승배기로27길',
       '관악로10길', '관악로14길', '관악로28길', '관천로22길', '구암길', '난곡로26길', '난우길',
       '난향길', '남부순환로142길', '남부순환로151길', '남부순환로248길', '남현길', '당곡길', '미성5길',
       '법원단지길', '복은길', '봉천로13길', '신림동길', '신림로11길', '신림로28길', '인헌길',
       '장군봉1길', '장군봉2길', '조원중앙로2길', '행운1길', '행운길', '호암로20길', '호암로24길',
       '양산길', '강남대로23길', '강남대로8길', '고무래로8길', '남부순환로325길', '논현로1길',
       '동광로1길', '동광로39길', '동산로10길', '동산로19길', '마방로2길', '반포대로9길', '방배로35길',
       '사임당로17길', '사평대로22길', '서초대로15길', '서초대로23길', '서초대로25길', '서초대로4길',
       '신반포로45길', '언남길', '주흥15길', '주흥길', '청두곶길', '개포로17길', '개포로20길',
       '남부순환로365길', '논현로10길', '논현로139길', '논현로28길', '논현로63길', '도곡로37길',
       '도산대로38길', '도산대로81길', '봉은사로43길', '봉은사로68길', '삼성로115길', '삼성로147길',
       '삼성로57길', '삼성로63길', '삼성로64길', '삼성로75길', '선릉로133길', '선릉로18길',
       '영동대로112길', '영동대로65길', '학동로6길', '거마로20길', '동남로20길', '마천로51길',
       '백제고분로22길', '백제고분로31길', '백제고분로34길', '백제고분로39길', '백제고분로45길',
       '백제고분로46길', '백제고분로50길', '삼전로13길', '송이로23길', '송이로32길', '송이로36길',
       '양재대로62길', '양재대로64길', '양재대로71길', '양재대로72길', '오금로11길', '오금로36길',
       '고덕로25길', '고덕로61길', '구천면로41길', '구천면로42길', '명일로13길', '상암로14길',
       '상암로4길', '상암로5길', '상일로5길', '성내로5길', '암사길', '양재대로101길', '양재대로116길',
       '양재대로124길', '양재대로133길', '올림픽로48길', '올림픽로77길', '올림픽로78길', '올림픽로80길',
       '진황도로27길', '천중로39길', '천중로51길', '천호대로170길', '천호대로219길', '천호옛길',
       '풍성로37가길', '서울 금천구 시흥1동_4', '서울 관악구 대학동_1', '관악구 사당역_3',
       '관악구 사당역_2', '관악구 사당역_1', '서울 관악구 서울대입구역_2', '양재역_1', '양재역_2',
       '매봉역', '양재역', '서울 서초구 남부터미널역_3', '양재역_3', '동작구 총신대입구역_1',
       '개봉동 현대아파트 인근', '교대역_1', '서울 강남구 대치역_1', '교대역_3', '방배동카페골목',
       '은마아파트입구사거리_2', '대림역_2', '선릉역_1', '서울 송파구 석촌역_1', '서울 강남구 선릉역_2',
       '삼성역_1', '삼정역_1', '삼정역_2', '삼성역_2', '신도림역', '잠실역 롯데월드', '포스코사거리_1',
       '삼성역_3', '서울 강남구 강남구청역_1', '서울 강남구 학동역_3', '서울 강남구 강남구청역_2',
       '강남구 신사역_2', '문래동 주민센터', '영등포역_2', '서울 양천구 신정네거리역_2', '청담사거리_1',
       '청담사거리_2', '청담역_1', '신사동 가로수길', '서울 강남구 압구정역', '압구정 로데오거리_2',
       '서울 강동구 길동역', '서울 광진구 구의역', '서울 마포구 마포역_2', '서울 마포구 공덕역_1', '남영역',
       '서울 강동구 명일역', '서울 강동구 고덕역', '서울 중구 약수역_2', '서울 마포구 홍대입구역_1',
       '서울 마포구 홍대입구역_2', '서울 마포구 홍대입구역_3', '서울 서대문구 이대역', '한양시장', '장한평역',
       '장한평역_2', '서울 중구 충무로역_2', '북창동', '시청역_2', '서대문구 서대문역_1',
       '종각역 젊음의 거리', '종각역', '서울 종로구 종로3가역_1', '서울 종로구 종로5가역_1',
       '서울 종로구 동대문역_1', '장안동사거리', '서울 종로구 광화문역_2', '종로구청',
       '서울 종로구 종로5가역_3', '서울 동대문구 신설동역_2', '서울 종로구 종로3가역_2',
       '서울 종로구 안국역_2', '서울 종로구 경복궁역_2', '혜화역 대학로_3', '서울 성북구 안암역',
       '미아사거리_1', '미아사거리_2', '서울 은평구 불광역_1', '서울 은평구 불광역_2',
       '서울 은평구 연신내역_2', '서울 강북구 수유역_3', '창동역', '광장시장', '종로신진시장', '동묘시장',
       '남대문시장', '신중부시장', '평화시장', '방산종합시장', '백학시장', '성동용답상가시장', '자양골목시장',
       '서울약령시장', '회기시장', '동부골목시장', '정릉아리랑시장', '장위전통시장', '번동북부골목시장',
       '창동골목시장', '백운시장', '연서시장', '아현가구거리상점가', '망원월드컵시장', '목2동시장',
       '신월6동골목시장', '신월중앙시장', '송화골목시장', '오류시장', '현대시장', '영등포전통시장',
       '영등포청과시장', '본동인정시장', '상도전통시장', '흑석시장', '남성사계시장', '남성역골목시장', '인헌시장',
       '관악신사시장', '미성동도깨비시장', '우림시장', '영동전통시장', '강남개포시장', '방이시장', '석촌시장',
       '새마을시장', '암사종합시장', '둔촌역전통시장', '종로?청계 관광특구', '잠실 관광특구'],
      dtype=object)